.outer-container {
  width: 600px;
  height: 200px;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  position: relative;
  margin: auto;
}

.btn-container {
  align-self: flex-end;
}

.btn-container > button {
  border: none;
  margin-bottom: 3px;
}

.image-carousel {
  border: 1px solid black;
  width: 600px;
  height: 200px;

  width: 100%;
  display: flex;
  overflow: inherit;
  /* overflow-x: scroll; */
  scroll-snap-type: x mandatory;
}

.slide {
  display: none;
  flex: 1 0 auto;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
