.outer-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  align-self: flex-end;
}

.btn-container > button {
  border: none;
  margin-bottom: 3px;
}

.image-carousel {
  border: 1px solid black;
  /* width: 90vw; */
  width: 600px;
  height: 200px;
  display: flex;

  /* scroll-snap-type: y mandatory; */
}

.imageContainer {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;

  /* overscroll-behavior-x: contain; */
}
/* image carousing */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
/* Button listener styles */
