.outer-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container {
  align-self: flex-end;
  margin-right: 5vw;
}

.btn-container > button {
  border: none;
  margin-bottom: 3px;
}

.image-carousel {
  color: pink;
  border: 1px solid black;
  /* width: 90vw; */
  width: 600px;
  height: 200px;
  display: flex;
}

.imageContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
